<div>

    <h2>Forms</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveFormModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> Create a new Form
    </button>
    <div class="modal fade" id="saveFormModal" tabindex="-1" role="dialog" aria-labelledby="myFormLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myFormLabel">Create or edit a Form</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="form.id" readonly>
                        </div>

                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control"
                                   ng-model="form.name">
                        </div>
                        <div class="form-group">
                            <label>Incon</label>
                            <input type="text" class="form-control"
                                   ng-model="form.incon">
                        </div>
                        <div class="form-group">
                            <label>PhysicalChange</label>
                            <input type="text" class="form-control"
                                   ng-model="form.physicalChange">
                        </div>
                        <div class="form-group">
                            <label>SortOrder</label>
                            <input type="number" class="form-control"
                                   ng-model="form.sortOrder">
                        </div>

                         <div class="form-group">
                             <label>advantage</label>
                             <select class="form-control" multiple ng-model="form.advantages" ng-options="advantage as advantage.name for advantage in advantages track by advantage.id">
                             </select>
                         </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Incon</th>
                    <th>PhysicalChange</th>
                    <th>SortOrder</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="form in forms">
                    <td>{{form.id}}</td>
                    <td>{{form.name}}</td>
                    <td>{{form.incon}}</td>
                    <td>{{form.physicalChange}}</td>
                    <td>{{form.sortOrder}}</td>
                    <td>
                        <button type="submit"
                                ng-click="update(form.id)"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
                        <button type="submit"
                                ng-click="delete(form.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
