<div>

    <h2>FormAttributeMods</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveFormAttributeModModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> Create a new FormAttributeMod
    </button>
    <div class="modal fade" id="saveFormAttributeModModal" tabindex="-1" role="dialog" aria-labelledby="myFormAttributeModLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myFormAttributeModLabel">Create or edit a FormAttributeMod</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="formAttributeMod.id" readonly>
                        </div>

                        <div class="form-group">
                            <label>Mod</label>
                            <input type="number" class="form-control"
                                   ng-model="formAttributeMod.mod">
                        </div>

                        <div class="form-group">
                            <label>form</label>
                            <select class="form-control" ng-model="formAttributeMod.form.id" ng-options="form.id as form.name for form in forms">
                            </select>
                        </div>
                        <div class="form-group">
                            <label>attributeType</label>
                            <select class="form-control" ng-model="formAttributeMod.attributeType.id" ng-options="attributeType.id as attributeType.name for attributeType in attributeTypes">
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Mod</th>
                    <th>form</th>
                    <th>attributeType</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="formAttributeMod in formAttributeMods">
                    <td>{{formAttributeMod.id}}</td>
                    <td>{{formAttributeMod.mod}}</td>
                    <td>{{formAttributeMod.form.name}}</td>
                    <td>{{formAttributeMod.attributeType.name}}</td>
                    <td>
                        <button type="submit"
                                ng-click="update(formAttributeMod.id)"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
                        <button type="submit"
                                ng-click="delete(formAttributeMod.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
