<div>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveCharacterAttributeModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> Create an Attribute
    </button>
    <div class="modal fade" id="saveCharacterAttributeModal" tabindex="-1" role="dialog" aria-labelledby="myCharacterAttributeLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="createAttribute()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clearAttribute()">&times;</button>
                        <h4 class="modal-title" id="myCharacterAttributeLabel">Attributes</h4>
                    </div>
                    <div class="modal-body">
<!--                         <div class="form-group"> -->
<!--                             <label>ID</label> -->
<!--                             <input type="text" class="form-control" name="id" -->
<!--                                    ng-model="characterAttribute.id" readonly> -->
<!--                         </div> -->

                        <div class="form-group">
                            <label>Attribute</label>
                            <select class="form-control" ng-model="characterAttribute.attributeType.id" ng-options="attributeType.id as attributeType.name for attributeType in attributeTypes">
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Rating</label>
                            <input type="number" class="form-control"
                                   ng-model="characterAttribute.rating" ng-change="guessPoints()">
                        </div>
                        <div class="form-group">
                            <label>Points</label>
                            <input type="number" class="form-control"
                                   ng-model="characterAttribute.points">
                        </div>
                        
                        <div class="form-group">
                            <label>Bonus</label>
                            <input type="number" class="form-control"
                                   ng-model="characterAttribute.bonus" ng-change="guessPoints()>
                        </div>
<!--                         <div class="form-group"> -->
<!--                             <label>character</label> -->
<!--                             <select class="form-control" ng-model="characterAttribute.character.id" ng-options="character.id as character.name for character in characters"> -->
<!--                             </select> -->
<!--                         </div> -->

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearAttribute()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Attribute</th>
                    <th>Rating</th>
                    <th>Points</th>
                    <th>Bonus</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="characterAttribute in characterAttributes">
                    <td>{{characterAttribute.attributeType.name}}</td>
                    <td>{{characterAttribute.rating}}</td>
                    <td>{{characterAttribute.points}}</td>
                    <td>{{characterAttribute.bonus}}</td>
                    <td>
                        <button type="submit"
                                ng-click="updateAttribute(characterAttribute.id)"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
                        <button type="submit"
                                ng-click="deleteAttribute(characterAttribute.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
